<%- include('../partials/head') %>
<body class="bg-gray-900">

    <!-- Navbar -->
    <%- include('../partials/nav') %>

    <div class="max-w-5xl mx-auto p-6 mt-10">

        <!-- Title + Rating -->
        <div class="flex justify-between items-center mb-4 mt-6">
            <h1 class="text-4xl font-bold text-gray-300"><%= home.houseName %></h1>

            <p class="text-yellow-500 font-semibold text-xl">
                ⭐ <%= home.rating %>
            </p>
        </div>

        <!-- Location -->
        <p class="text-gray-300 mb-6 text-lg">📍 <%= home.location %></p>

        <!-- Main Image -->
        <div class="relative mb-6">
            <img 
                src="<%= home.image || home.photoURL || 'https://via.placeholder.com/400'  %>" 
                alt="home image"
                class="w-full h-[420px] object-cover rounded-xl shadow"
            >
            <% if(isLoggedIn){ %>
                <%-include('../partials/favorites',{home:home})%>
            <% } else { %>
                <a href="/login" class="absolute top-4 right-4 bg-white p-3 rounded-full shadow hover:scale-110 transition">
                ❤️
            </a>
            <% } %>
            
        </div>

        <!-- Details Section -->
        <div class="backdrop-blur-lg  bg-white/5 p-6 rounded-xl shadow border-2 border-gray-600">

            <!-- Price -->
            <p class="text-3xl font-bold text-gray-300 mb-4">
                ₹<%= home.price %> 
                <span class="text-gray-500 text-xl font-normal">/ night</span>
            </p>

            <!-- About Section -->
            <h2 class="text-2xl font-semibold text-gray-300 mb-2">About this place</h2>
            <p class="text-gray-400 leading-relaxed mb-6">
                <%= home.description || "A comfortable and modern place to stay with all essential amenities. Book now to enjoy a great experience!" %>
            </p>
            <a href="/rules/<%= home._id %>"
                class="text-blue-500 hover:text-blue-800">
                Download house Rules
            </a>
            <!-- Book Now Button -->
             <% if(isLoggedIn){ %>
                <a href="/book/<%= home._id %>"
                class="block text-center text-xl px-5 py-2.5
                         rounded-lg
                          bg-gradient-to-r
                         from-pink-500
                         to-red-500
                         hover:from-pink-600
                         hover:to-red-600
                         text-white
                         shadow-lg
                         hover:shadow-red-500/40
                         transition-all
                        duration-300">
                Book Now
            </a>
            <% }else{ %>
                <a href="/login"
                class="block text-center text-xl px-5 py-2.5
                         rounded-lg
                          bg-gradient-to-r
                         from-pink-500
                         to-red-500
                         hover:from-pink-600
                         hover:to-red-600
                         text-white
                         shadow-lg
                         hover:shadow-red-500/40
                         transition-all
                        duration-300">
                Book Now
            </a>
                <% } %>

        </div>
    </div>

</body>
</html>